.carBar {
    display: flex;
    width: 100%; 
    margin-top: 10px;
} 
.carBar .carousel {
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 780px;
    height: 354px;
    overflow: hidden;
}
.carBar .sidebar {
    width: calc(100% - 780px);    
    margin-left: 10px;
    height: 354px;
    overflow: hidden;
}
