.header {
    position: relative;
    width: 100%;
    background-color: #fed700;
}

.header__home {
    @include layoutFlex(space-between, initial);
    height: 60px;
}
.header__brand {
    @include layoutFlex(space-between, center);
    width: 28%;
    padding: 15px;
    background-color: #000000;
    & > div:first-child {        
        margin-right: 15px;
        & a {
            color: #fed700;
        }
    } 
    & > div:last-child {
        position: relative;
        input {
            box-sizing: border-box;
            padding: 9px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #000000;
        }
        a {
            position: absolute;
            top: 50%;
            right: 9px;
            transform: translateY(-50%);           
            color: #b7b2b2;
            padding: 5px;
            box-sizing: border-box;
        }
    }
}
.header__menu {
    display: flex;
    align-items: center;
    width: 62%;
    & > ol {
        @include layoutFlex(space-between, center);
        width: 100%;
    }   
}
.header__service {
    width: 10%;
    position: relative;
    @include layoutFlex(space-between, initial);
    border-left: 1px solid rgba(0,0,0,.1);    
}
.header__menu, 
.header__service {
    a {
        color: #000000;
        font-size: 14px;
        padding: 8px;
        margin: auto;
    }
}